<ion-header>
  <div  style="display: flex; justify-content: center; align-items: center;
   height: 100px; padding-top: 170px; padding-block-end: 120px;">
    <ion-img src="./assets/img/logo-pequeno-bellavisage.png"></ion-img>
  </div>
</ion-header>
  <ion-content>
    <ion-card>
      <ion-card-header>
        <ion-card-title class="titulo-login">Faça login em sua conta</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <div>
            <ion-label class="titulo-input">E-mail</ion-label>
            <ion-input type="email" placeholder="Insira o seu  e-mail" ></ion-input>
          </div>
        </ion-item>
        <ion-item>
          <div>
            <ion-label class="titulo-input">Senha</ion-label>
            <ion-input type="password" placeholder="Insira sua senha"></ion-input>
          </div>

        </ion-item>
        <ion-button class="botao-login" expand="block" style="color:#e0d5da">Entrar</ion-button>
        <ion-nav-link routerLink="/register">Esqueceu sua senha?</ion-nav-link>

      </ion-card-content>

    </ion-card>
  </ion-content>
  <div  style="display: flex; justify-content: center; align-items: center; padding-block-end: 50px">
    <ion-nav-link routerLink="/register">Não tem uma conta? Registre-se</ion-nav-link>
  </div>
<style>

  .titulo-login{
    text-align: center;
    margin: 0 auto;
    color:gray;
    padding: 10px;
    font-size: 19px;
  }
  .titulo-input{
    font-size: 15px;
    padding: 10px;
    color:#950341;
    font-weight: bolder;
  }
  .botao-login{
    color:#950341;
  }

</style>
